extends base/base

block content

    main#main.container-fluid
        
        div.scroll
            a(href="#about-me").scroll__button V

        include partials/topBanner

        include partials/aboutMe

        include partials/hobbies

        include partials/portfolio
  
        include partials/tools

        include partials/skills

        include partials/contact