section#about-me.section.row
    div.wrap
        div.col-xs-12
            h1.section__title 
                em About 
                | Me
                span.section__sub Who is this Arthesian?
        div.col-xs-12.col-sm-offset-1.col-sm-7
            h2.section__subtitle Who am I?

            p.text Hiya, I'm Enne van Ziel. As a full-time backend webdeveloper I build the foundation of webapplications and the backend of websites.
            p.text Ever since I was young, I have been intrigued by the Computer and Internet. It started with just entertainment and games, but after some years, I developed an interest for how everything worked and started programming.
            p.text I started out with VBScripts, but soon turned to C# and WinForms. As Time went on I moved from WinForms to ASP.NET because I felt that webapplications made much more sense in this day and age (and would in the future) than desktop applications do. I have also worked with PHP scripts for personal projects, but it never grew on me like C# did. Currently I work at Booking.com (in Amsterdam) as a SAP Front End Developer working on in-house finance webapplications.
            p.text My online alias is 'Arthesian' -- as you might have figured already.'

        div.col-xs-12.col-sm-offset-1.col-sm-2.photo-container
            img(src="static/img/arthesian.png").photo