section#contact.section.row
    div.wrap
        div.col-xs-12
            h1.section__title
                em Contact 
                | me
                span.section__sub How to spam me through various channels ;)
        div.col-xs-12(style="text-align:center")
            a(href="mailto:contact@ennevanziel.nl").button Mail Me
            a(href="https://www.facebook.com/ennevanziel" target="blank").button Facebook 
            a(href="https://www.linkedin.com/in/enne-van-ziel-a9a42450/" target="blank").button LinkedIn 