section#hobbies.section.row
    div.video-background
        video(autoplay loop muted playsinline src="static/img/bg-osu.mp4").video
    div.wrap
        div.col-xs-12
            h1.section__title My 
                em Hobbies
                span.section__sub Besides webdevelopment...
        div.col-xs-12.col-sm-6
            h2.section__subtitle Series/ Movies
                small basically just anime...

            p.text I'm a veteran when it comes to watching Japanese animation series ( Anime ). 
                | Every season I try to watch as many series as possible ( with the time available ). 
                | Some of you might not think of that as a hard task....but it is. 
                | Currently I have watched over 400 titles, and the counter is still adding up! 
                | If you want to see in detail which series I have watched and what my ratings are, look at My Anime List ( MAL ):

            a(href="https://myanimelist.net/profile/Arthesian" target="_blank").button MAL : Arthesian

            hr.spacer.anime-before

            h2.section__subtitle Games
                small Derping online with friends...

            p.text Surely, I also play games. Most frequently I play League of Legends with friends online or OSU ( this is the background video playing ) by myself. League of Legends is an online MOBA 5v5 teamgame, whereas OSU is a music driven rythm single-player game. Although I'm not very good at either game, I enjoy playing them a lot. Below are 2 links that show some information about my stats in both games. My gamer tag is ( as you'd expect ) "Arthesian".

            a(href="http://euw.op.gg/summoner/userName=arthesian" target="_blank").button Leage of Legends : Arthesian
            
            a(href="https://osu.ppy.sh/u/3567049" target="_blank").button OSU : Arthesian
      
    img.image(src="static/img/ashe.png")