nav.navbar.navbar-default.navbar-fixed-top
        
        include scrollProgressBar
        
        div.wrap
            div.navbar-header
                button(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false").navbar-toggle.collapsed
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href="#top-bubble-flow").navbar-brand
                    img(src="static/img/a.png").logo

            nav#navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href="#top-bubble-flow")
                            span(data-hover="Home") Home
                    li
                        a(href="#about-me")
                            span(data-hover="About Me") About Me
                    li
                        a(href="#hobbies")
                            span(data-hover="Hobbies") Hobbies
                    li
                        a(href="#portfolio")
                            span(data-hover="Portfolio") Portfolio
                    li
                        a(href="#tools")
                            span(data-hover="Tools") Tools
                    li
                        a(href="#skills")
                            span(data-hover="Skills") Skills
                    li
                        a(href="#contact")
                            span(data-hover="Contact") Contact