section#portfolio.section.row
    div.wrap
        div.col-xs-12
            h1.section__title Arthesian's 
                em Portfolio
                span.section__sub So...what have I made?
                    small ( besides this site )
        div.col-xs-12
            div.row 
                div.col-xs-12.col-sm-6
                    h2.section__subtitle OSU-ON
                        small ( work in progress )

                    div.portfolio__image-container                        
                        img(src="static/img/osuon.jpg").portfolio__image
                    
                    p.text OSU-ON is a work-in-progress project, that is based on the desktop game 
                        a(href="www.osu.ppy.sh" target="_blank") "Osu!".
                        
                    p.text It was my first HTML5 canvas webapplication. And also the first ever large scale javascript game I ever build.
                        | Till this very day, it's still not finished... and probably never will be. But it was a very fun project to work on
                        | and I still work on it from time to time to test new features for canvas related optimalisations.

                    p.text This is an image of the 'main menu' of the web version I made. It uses audio processing and a lot of Canvas elements
                        | to render this image to the browser. I still managed to get 144FPS running quite smoothly, whilst not using the WebGL api
                        | ( because it was still in the very early stages when I started this project ). It required some heavy optimilisation to get
                        | a reliable frame rate. But hey, that's the whole challange...

                    p.text You can try it yourself here :
                    
                    p.text NOTE: it might give a certificate error if the SSL certificat expires -- sorry!

                    a(href="https://osuon.ennevanziel.nl" target="_blank").button Try OSUON 
                    
                    p.text
                        small If i did not break it in the meantime...

                div.clear.visible-xs
                hr.spacer.visible-xs

                div.col-xs-12.col-sm-6
                    h2.section__subtitle Wallpaper Engine
                        small ( HTML5/JS Visualizer )
                    
                    div.portfolio__image-container    
                        img(src="static/img/visualizer.jpg").portfolio__image

                    p.text Wallpaper Engine is an program available on Steam, that can turn your windows desktop background
                        | into practically anything. Because it provides the tools to set an application, or website as the background
                        | of your desktop. I have used this program to create several Audio Visualizers for users. So they can enjoy
                        | a moving desktop background, when listening to their favourite music.

                    p.text Here are some links to Visualizers I have made ( you can watch preview video's to see how they work )

                    a(href="http://steamcommunity.com/sharedfiles/filedetails/?id=866935226" target="_blank").button Rainbow Visualizer Blocks
                    a(href="http://steamcommunity.com/sharedfiles/filedetails/?id=1081733658" target="_blank").button Customizable Module Visualizer

                div.clear
                hr.spacer

                div.col-xs-12.col-sm-6
                    h2.section__subtitle Anime Calendar App

                    div.portfolio__image-container    
                        img(src="static/img/acapp.jpg").portfolio__image

                    p.text Anime Calendar App was one of the first 'real' desktop applications I built using WinForms.
                        | The purpose of the application was to show all airing Anime Series of a particular day, where the user
                        | could select if he had seen an episode or not. The application could also show detailed information about series 
                        | like for example a synopsis of the story, and the intro/outro videos ( using the YouTube api ).

                    p.text The app got all it's information from an SQL database, which in turn got it's data from 
                        a(href="www.animecalendar.net" target="_blank") AnimeCalendar.net.
                        | It was a project where I learned a lot about Windows Applications. I later turned it into 
                        | a website and Windows8 App as well.

                div.clear.visible-xs
                hr.spacer.visible-xs

                div.col-xs-12.col-sm-6
                    h2.section__subtitle 3D Models

                    div.portfolio__image-container    
                        img(src="static/img/hummer.jpg").portfolio__image
                    
                    p.text As my interest started with Games and Entertaint, it was only a matter of time before 
                        | I'd develop an interest for 3D modelling. I used to dream of becoming a game developer. And 
                        | spend days creating 3D models in 
                        a(href="https://www.maxon.net/en/products/cinema-4d/overview/" target="_blank") Maxon's Cinema4D.
                        | The Hummer above is just one example of the many cars I have made using this software.

                    p.text Below is a link to my DeviantArt account ( which is outdated ) where you can find more 3D renders I have made.

                    a(href="http://ennuh.deviantart.com/gallery/" target="_blank").button DeviantArt Gallery

