section#skills.section.row
    div.wrap
        div.col-xs-12
            h1.section__title My 
                em Skills
                span.section__sub So...what can I do?
        div.col-xs-12

            div.row
                div.col-xs-12.col-sm-offset-1.col-sm-10.col-md-8.col-md-offset-2
                    p.text Below are several techniques, programming languages and other skills supplied with a rating of how comfortable I am with those set of skills
                
                    hr.spacer   

            div.row
                div.col-xs-12.col-sm-offset-1.col-sm-10.col-md-8.col-md-offset-2
                    table(cellspacing="10" width="100%").skill-table
                        tr
                            td
                                div.text-icon.text-icon--csharp C#
                            td C# (.NET) backend development
                            td.class.symbol 
                        
                        tr
                            td
                                div.text-icon.text-icon--ts UI5
                            td SAPUI5
                            td.class.symbol 
                        tr
                            td
                                div.text-icon.text-icon--js JS
                            td Javascript
                            td.class.symbol 
                        tr
                            td
                                div.text-icon.text-icon--ts TS
                            td TypeScript HTML5 canvas application
                            td.class.symbol 
                        tr
                            td
                                div.text-icon.text-icon--html5 HTML CSS
                            td HTML(5) / CSS(3) page constructing
                            td.class.symbol 
                        tr
                            td
                                div.text-icon.text-icon--php PHP
                            td PHP Development
                            td.class.symbol 
                        tr
                            td
                                div.text-icon.text-icon--eng ENG
                            td English (written and spoken)
                            td.class.symbol 

                    hr.spacer

                    p.text You can find some Projects of mine on the projects page. There you can find which techniques I have used during the development process and how they where used.