section#tools.section.row
    div.wrap
        div.col-xs-12
            h1.section__title
                em Tools 
                | I use 
                span.section__sub The tools I work with
                    small ( or have experience working with )
        div.col-xs-12
            div.row 
                div.col-xs-12.col-sm-4
                    h2.section__subtitle Visual Studio (Code)
                        small Can't write code without an editor...
                    p.text Visual Studio is my go-to editor for C# ofcourse. For Webdevelopment ( Javascript/ Html/ Css/ TypeScript)
                        | I use Visual Studio Code. It is one of the best light-weight editors I have used :)

                    a(href="https://code.visualstudio.com/" target="_blank").button Visual Studio Code
                
                div.clear.visible-xs
                hr.spacer.visible-xs
                
                div.col-xs-12.col-sm-4
                    h2.section__subtitle IIS
                        small Those websites need to run somewhere?
                    p.text This site is running from an IIS webserver I configured myself. I used to use XAMP to host my PHP projects
                        | but since most of my projects don't use PHP anymore, and I want to run C# based webapplications...IIS is the way to go.

                    a(href="https://www.iis.net/" target="_blank").button IIS .NET
                
                div.clear.visible-xs
                hr.spacer.visible-xs
                
                div.col-xs-12.col-sm-4
                    h2.section__subtitle Umbraco
                        small The go-to CMS for C# websites
                    p.text Umbraco is a free C# .NET CMS for building websites with an Content Management System backend. I have worked with Umbraco
                        | for almost 3 years now, and have come to like it a lot. I'm a certified Umbraco Developer.

                    a(href="https://umbraco.com/" target="_blank").button Umbraco CMS

                div.clear
                hr.spacer 

                div.col-xs-12.col-sm-4
                    h2.section__subtitle Photoshop
                        small For all the nice images
                    p.text Photoshop skills for editing images is a must these days. Although It might not always be 'Photoshop', but alternatives
                        | like Corel PaintShop Pro.

                    a(href="https://www.adobe.com/nl/products/photoshop.html" target="_blank").button Photoshop
                
                div.clear.visible-xs
                hr.spacer.visible-xs

                div.col-xs-12.col-sm-4
                    h2.section__subtitle Aegisub
                        small For fansubbing purposes
                    p.text Aegisub is a software that enabled you to easily create subtitles for video content.
                        | I have used this in the past, because it was a hobby of mine to create 'fan-made' subtitles 
                        | for Opening and Ending themes of TV Series. I learned a lot by doing so, because although it might not 
                        | look that difficult, if you want to create fancy effect you will need to do so by coding in LUA ( script ).

                    a(href="http://www.aegisub.org/" target="_blank").button Aegisub
                
                div.clear.visible-xs
                hr.spacer.visible-xs
                
                div.col-xs-12.col-sm-4
                    h2.section__subtitle GitKraken
                        small You've got to manage code
                    p.text GitKraken is my go-to program to manage my projects. I previously used Source-Tree as my default git application, 
                        | but I have switched to GitKraken because of it's sleek looks and comprehensible branch management. 
                        
                    p.text A developer that is not familiar with .Git source control, might as well be limping forwards...

                    a(href="https://gitkraken.com" target="_blank").button GitKraken