/* Icon Hover */


/*
<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
	<a href="#set-9" class="hi-icon hi-icon-images">Images</a>
</div>

*/


/* Effect 9 */

.hi-icon-effect-9 .hi-icon {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.hi-icon-effect-9 .hi-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    box-shadow: 0 0 0 3px #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}


/* Effect 9a */

.hi-icon-effect-9a .hi-icon:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    opacity: 0.5;
}

.hi-icon-effect-9a .hi-icon:hover {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 1);
    color: #fff;
}


/*
<nav class="cl-effect-5" id="cl-effect-5">
    <a href="#cl-effect-5"><span data-hover="Seraglio">Seraglio</span></a>
    <a href="#cl-effect-5"><span data-hover="Sumptuous">Sumptuous</span></a>
    <a href="#cl-effect-5"><span data-hover="Scintilla">Scintilla</span></a>
    <a href="#cl-effect-5"><span data-hover="Palimpsest">Palimpsest</span></a>
    <a href="#cl-effect-5"><span data-hover="Assemblage">Assemblage</span></a>
</nav>
*/


/*
<nav class="cl-effect-5" id="cl-effect-5">
    <a href="#cl-effect-5"><span data-hover="Seraglio">Seraglio</span></a>
    <a href="#cl-effect-5"><span data-hover="Sumptuous">Sumptuous</span></a>
    <a href="#cl-effect-5"><span data-hover="Scintilla">Scintilla</span></a>
    <a href="#cl-effect-5"><span data-hover="Palimpsest">Palimpsest</span></a>
    <a href="#cl-effect-5"><span data-hover="Assemblage">Assemblage</span></a>
</nav>
*/


/* Effect 5: same word slide in */

.cl-effect-5 a {
    overflow: hidden;
    padding: 0 0 4px 0;
    height: 1em;
}

.cl-effect-5 a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cl-effect-5 a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    font-weight: 700;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}


/*
<button class="btn btn-2 btn-2a">Button</button>
*/


/* Button 1e */

.btn-1e {
    overflow: hidden;
    &:after {
        width: 100%;
        height: 0;
        top: 50%;
        left: 50%;
        background: #fff;
        opacity: 0;
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
}

.btn-1e .btn-1e:hover,
.btn-1e:active {
    color: #0e83cd;
}

.btn-1e:hover:after {
    height: 260%;
    opacity: 1;
}

.btn-1e:active:after {
    height: 400%;
    opacity: 1;
}