nav.navbar {
    background: rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    padding: 10px;
}

.logo {
    width: 30px;
    height: 30px;
}

.navbar-default .navbar-nav>li>a {
    padding: 15px;
    color: white;
}

.nav.navbar-nav li:first-child {
    a:hover {
        padding-top: 15px;
    }
}

.nav.navbar-nav li:last-child {
    a:hover {
        padding-bottom: 15px;
    }
}

.nav.navbar-nav li {
    color: white;
    a:visited {
        color: white;
    }
    a:hover {
        color: #0066FF;
        margin: 0;
        padding-left: 15px;
    }
}

.nav.navbar-nav li:last-of-type {
    border-right: none;
}

@include breakpoint-sm() {
    .nav.navbar-nav li a {
        border-right: 1px solid #0066ff;
        transition: all 0.2s linear;
        position: relative;
        a:hover {
            color: white;
        }
        &:before,
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 5px;
            background: #0066FF;
            transition: all 0.2s linear;
        }
        &:after {
            top: 0;
            right: 0;
            left: unset;
            bottom: unset;
        }
        &:hover:before, 
        &.active:before {
            width: 100%;
            color: white;
        }
        &:hover:after,
        &.active:after {
            width: 100%;
        }
        a:hover {
            padding: 15px;
        }
    }
}

// Effecten :D