.scrollprogress {

    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 100;

    &__bar {
        height: 3px;
        background: #0099FF;
        border-bottom: 1px solid rgba(0,0,0,0.5);
        box-sizing: border-box;
    }
}