.text-icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    background-color: gray;
    color: white;
    &--mail {
        font-size: 16px;
    }
    &--osu {
        background-color: hotpink;
    }
    &--php {
        background-color: green;
    }
    &--js {
        background-color: red;
    }
    &--ts,
    &--skype,
    &--linkedin {
        background-color: dodgerblue;
    }
    &--linkedin {
        font-size: 32px;
    }
    &--skype {
        font-size: 32px;
    }
    &--csharp,
    &--facebook {
        background-color: blue;
    }
    &--facebook {
        font-size: 24px;
    }
    &--html5 {
        background-color: purple;
        font-size: 15px;
        line-height: 12px;
    }
    &--eng {
        background-color: orange;
    }
}

.skill-table {
    width: 100%;
    & tr {
        border-bottom: 1px solid grey;
    }
    & tr:last-child {
        border-bottom: none;
    }
    & td {
        padding: 10px;
        text-align: center;
        align-items: center;
    }
    & td:last-child {
        text-align: right;
    }
}