#about-me {
    z-index: 15;
}

.photo-container {
    margin-top: 50px;
    position: relative;
    height: 200px;
    .photo {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        transition: all 0.2s linear;
        &:hover {
            transform: rotate(5deg) scale(1.1)
        }
    }
}