.portfolio__image-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
}

.portfolio__image {
    width: 100%;
    transition: all 0.2s linear;
    filter: grayscale(75%);
    &:hover {
        transform: rotate(2deg) scale(1.1);
        filter: grayscale(0%);
    }
}