#hobbies {
    background: url("../img/bg-osu-fallback.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    border-top: none;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100%;
        background: rgba(0, 0, 0, 0.75);
        border-top: 2px solid #0066FF;
    }
    .wrap {
        position: relative;
        z-index: 1;
    }
    .image {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        transition: all 0.2s linear;
        &:hover {
            filter: brightness(150%);
        }
    }
    .anime-before {
        position: relative;
        &:before {
            content: url("../img/inori.png");
            position: absolute;
            bottom: -21px;
            right: 0;
            z-index: -1;
            transform: scale(0.8);
        }
    }
}