#contact {
    background: url("../img/bg-contact.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100%;
        background: rgba(0, 0, 0, 0.75);
    }
}