#top-bubble-flow {
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 25;
    background-color: black;
}

.main-logo {
    transform: scale(0.5);
    position: absolute;
    color: white;
    mix-blend-mode: difference;
    top: 50px;
    left: 0;
    right: 0;
    width: 412px;
    margin: auto;
    z-index: 100;
    &__title {
        font-size: 48px;
        text-justify: distribute;
        width: 100%;
        letter-spacing: 17px;
        margin-left: 28px;
        position: relative;
        top: -25px;
    }
    &__image {
        width: 100%;
        transition: all 0.2s linear;
        &:hover {
            transform: scale(1.05);
        }
    }
    &__sub {
        font-size: 22px;
        display: block;
    }
}

@include breakpoint-md {
    .main-logo {
        top: 150px;
        transform: scale(1);
    }
}

.scroll {
    &__button {
        &.up {
            transform: rotate(180deg);
        }
        color: white;
        position: fixed;
        z-index: 100;
        bottom: 25px;
        right: 25px;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        width: 50px;
        margin: auto;
        transition: all 0.2s linear;
        &:visited,
        &:focus {
            text-decoration: none;
            color: white;
        }
        &:before {
            content: "";
            position: absolute;
            border: 2px solid white;
            width: 50px;
            height: 50px;
            top: -5px;
            left: 0;
            opacity: 0.5;
            transition: all 0.2s linear;
        }
        &:after {
            content: "";
            position: absolute;
            top: -5px;
            left: 0;
            border: 2px solid white;
            width: 50px;
            height: 50px;
        }
        &:hover {
            text-decoration: none;
            color: #0066FF;
        }
        &:hover:before {
            transform: scale(1.2);
        }
    }
}