@mixin breakpoint-lg() {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin breakpoint-md() {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin breakpoint-sm() {
    @media (min-width: 767px) {
        @content;
    }
}

@mixin breakpoint-xs() {
    @media (min-width: 480px) {
        @content;
    }
}

@font-face {
    src: url("../fonts/SEGUISYM.TTF");
    font-family: segui;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: black;
    color: white;
}

.wrap {
    max-width: 1200px;
    margin: auto;
}

.bubble-flow {
    filter: blur(4px) brightness(150%);
}

.symbol {
    font-family: segui;
}

.section {
    background: linear-gradient(to right, rgba(0, 102, 255, 0.5) 0%, rgba(0, 102, 255, 0) 25%, rgba(0, 102, 255, 0) 75%, rgba(0, 102, 255, 0.5) 100%);
    padding: 150px 0;
    border-top: 2px solid #0066ff;
    position: relative;
    background-color: black;
    z-index: 10;
    &__title {
        text-align: center;
        font-size: 48px;
        font-weight: normal;
        color: white;
    }
    &__sub {
        display: block;
        font-style: italic;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.5);
        small {
            display: block;
        }
    }
    &__subtitle {
        font-size: 22px;
        color: white;
        &:before {
            margin-right: 10px;
            content: ">>";
            color: #0066FF;
            font-weight: 700;
        }
        small {
            display: block;
        }
    }
    em {
        color: #0066FF;
        font-weight: 700;
    }
    .text {
        text-align: justify;
    }
    .spacer {
        margin-top: 40px;
        margin-bottom: 40px;
        border-color: #0066FF;
    }
    .clear {
        clear: both;
    }
    .video-background {
        position: relative;
        z-index: -1;
        .video {
            min-height: 100%;
            min-width: 100%;
            position: fixed;
            top: 0;
        }
    }
}

.button {
    padding: 10px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid #0066FF;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    overflow: hidden;
    position: relative;
    display: block;
    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 50px;
        height: 200%;
        background: #0066FF;
        transform: rotate(15deg);
        top: -50%;
        left: -60px;
        transition: all 0.2s linear;
    }
    &:hover {
        color: white;
        text-decoration: none;
    }
    &:visited {
        color: white;
    }
    &:hover:before {
        left: -40px;
    }
    &:after {
        left: calc(100% + 10px)
    }
    &:hover:after {
        left: calc(100% - 10px);
    }
}

@include breakpoint-lg() {
    .button {
        margin-left: 20px;
        display: inline-block;
    }
}

@import "partials/scrollProgressBar",
"partials/navbar",
"partials/hoverEffects",
"partials/section_topBanner",
"partials/section_aboutme",
"partials/section_portfolio",
"partials/section_tools",
"partials/section_hobbies",
"partials/section_contact",
"partials/section_footer",
"partials/section_skills"