doctype

html(xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" )
    head
        include head

        script(src="static/js/analytics.js" async)
    body
        include header

        block content

        include footer

        link(href="static/style/bootstrap.min.css" async rel="stylesheet")
        link(href="static/style/main.css" rel="stylesheet" async) 

        script(src="static/js/jquery.min.js")
        script(src="static/js/bootstrap.min.js")
        script(src="static/js/pixi.min.js")
        script(src="static/js/createjs.min.js")
        script(src="static/js/main.js")
