meta(charset="utf-8")
meta(name="viewport", content="width=596, initial-scale=1")
meta(name="description", content="Portfolio Website of Arthesian - Enne van Ziel")

meta(property="og:title" content="Arthesians (Enne van Ziel) Portfolio")
meta(property="og:type" content="Portfolio")
meta(property="og:url" content="http://www.ennevanziel.nl")
meta(property="og:image" content="http://www.ennevanziel.nl/static/img/og.png")
meta(property="og:site_name" content="Arthesian")
meta(property="og:description" content="Portfolio website for Enne van Ziel ( Arthesian ).")

link(rel="icon" type="image/png" href="static/img/favicon.png")

title Portfolio - Arthesian ( Enne van Ziel )
